# For VLM 
[submodule "dl_exam/vlm/clones/CLIP"]
	path = dl_exam/vlm/clones/CLIP
	url = https://github.com/openai/CLIP.git
    
[submodule "dl_exam/vlm/clones/open_clip"]
	path = dl_exam/vlm/clones/open_clip
	url = https://github.com/mlfoundations/open_clip.git
